In [ ]:
# Short summary: last week 

[ 1, 6, 7]  #direct list    
list([1,6,7]) #indirect? iterable 
# the function list goes 1 by 1 (iterates over the elements) and creates a list over those elements

In [ ]:
range(10)   #range of 10 -> 0, 1, ..., 9. 
list (range(10))  #list of 0, 1, ..., 9 

#list takes argument that goes through 1 by 1

In [ ]:
## 1: SETS IN PYTHON

# elements in a set do NOT have a fixed order (might differ in different python versions)
# set(...) or {...}

In [1]:
elements = {"a", "b", "a", "b"}
type( elements )

set

In [5]:
# creating an empty set 
set()

set

In [6]:
# 1.1: Algebra with Sets
firstNs = {1, 2, 3}
secondNs = {2, 3, 4}
firstNs & secondNs       #common elements (intersection) in the 2 sets

{2, 3}

In [7]:
firstNs | secondNs      #union of elements (adding all elements together)

{1, 2, 3, 4}

In [8]:
firstNs - secondNs       #difference in elements

{1}

In [9]:
6 in firstNs         #is 6 in the firstNs set?

False

In [10]:
6 not in firstNs    #is 6 not in firstNs set?

True

In [12]:
# 1.2: Adding & removing elements 
firstNs.add(100)    #adding 100 at end of set 
firstNs

{1, 2, 3, 100}

In [16]:
firstNs.add(100) 
firstNs.remove(100)
firstNs.remove(100)     #100 no longer there -> error 
firstNs

KeyError: 100

In [17]:
[n+1 for n in firstNs]  
# a set can be iterated over but we cant make assumptions about the order of the set

[2, 3, 4]

In [21]:
## 2: DICTIONARIES IN PYTHON

# dictionary = for this value I should get that value ofz / zelfde als een list in R 
# bv: naam van leerlingen matchen aan hun height 
    #key = naam van leerling
    #value = height
#handig want snel proces om wat te zoeken ofzo

day2KCal = { "Mon": 2330, "Tue": 1990, "Wed": 2150 }
day2KCal

{'Mon': 2330, 'Tue': 1990, 'Wed': 2150}

In [31]:
# The following code allows to build a dictionary from two iterable objects:

days = ( "Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun" )      # a tuple
dayKCals = [ 2330, 1990, 2150, 2290, 1920, 2370, 2050 ]         # a list
zip( days, dayKCals )           # a generator, iterable over tuples (day, dayKCal)
list( zip( days, dayKCals ) )   # a list of tuples generated by the generator

day2KCal = dict( zip( days, dayKCals ) )
day2KCal

{'Mon': 2330,
 'Tue': 1990,
 'Wed': 2150,
 'Thu': 2290,
 'Fri': 1920,
 'Sat': 2370,
 'Sun': 2050}

In [33]:
day2KCal["Sun"]

#you can use keys only once in a dictionary (dus ni 2x monday)

2050

In [34]:
[KCal*4.184 for KCal in day2KCal.values()]
# aangepaste list

[9748.720000000001,
 8326.16,
 8995.6,
 9581.36,
 8033.280000000001,
 9916.08,
 8577.2]

In [38]:
{day:KCal*4.184 for day, KCal in day2KCal.items()}  #dictionary {}

{'Mon': 9748.720000000001,
 'Tue': 8326.16,
 'Wed': 8995.6,
 'Thu': 9581.36,
 'Fri': 8033.280000000001,
 'Sat': 9916.08,
 'Sun': 8577.2}

In [1]:
## 3: FORMATTING STRINGS

roomWidth = 3.5

In [3]:
print("The room width is", roomWidth, "metres")

The room width is 3.5 metres

In [5]:
print(f"The room width is {roomWidth} meters") 

# F-string enables extra processing machinery
# You can use mathematical operations inside the { } for example

The room width is 3.5 meters

In [6]:
print(f"The room width is {roomWidth * 2 } meters")

The room width is 7.0 meters

In [7]:
print(f"The room width is {roomWidth * 2:.2f} meters")

The room width is 7.00 meters