# Downloading the example database and connecting to it

## Packages needed for this project

In [29]:
pip install jupysql

Requirement already satisfied: jupysql in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (0.11.1)
Requirement already satisfied: prettytable>=3.12.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from jupysql) (3.16.0)
Requirement already satisfied: sqlalchemy in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from jupysql) (2.0.40)
Requirement already satisfied: sqlparse in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from jupysql) (0.5.3)
Requirement already satisfied: ipython-genutils>=0.1.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from jupysql) (0.2.0)
Requirement already satisfied: jinja2 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from jupysql) (3.1.6)
Requirement already satisfied: sqlglot>=11.3.7 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from jupysql) (26.12.1)
Requirement already satisfied: jupysql-plugin>=0.4.2 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from jupysql) (0.4.5)
Requirement already satisfied: ploomber-core>=0.2.7 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from jupysql) (0.2.26)
Requirement already satisfied: pyyaml in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from ploomber-core>=0.2.7->jupysql) (6.0.2)
Requirement already satisfied: posthog in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from ploomber-core>=0.2.7->jupysql) (3.23.0)
Requirement already satisfied: wcwidth in /Users/zakriazafar/Library/Python/3.12/lib/python/site-packages (from prettytable>=3.12.0->jupysql) (0.2.13)
Requirement already satisfied: MarkupSafe>=2.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from jinja2->jupysql) (3.0.2)
Requirement already satisfied: typing-extensions>=4.6.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from sqlalchemy->jupysql) (4.13.1)
Requirement already satisfied: requests<3.0,>=2.7 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.32.3)
Requirement already satisfied: six>=1.5 in /Users/zakriazafar/Library/Python/3.12/lib/python/site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (1.17.0)
Requirement already satisfied: monotonic>=1.5 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (1.6)
Requirement already satisfied: backoff>=1.10.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.2.1)
Requirement already satisfied: python-dateutil>2.1 in /Users/zakriazafar/Library/Python/3.12/lib/python/site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.9.0.post0)
Requirement already satisfied: distro>=1.5.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (1.9.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (2025.1.31)

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python3 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [30]:
import urllib.request    # needed for download of the example database
import shutil            # needed for unzipping of the example database

import sqlalchemy as sa
import pandas as pd      # for better table visualisation


### Note on package problems

Currently there exists an incompatibility between:
- the latest version (>=2.0) of `sqlalchemy` package,
- the package `ipython-sql` which provides the `%sql` magic keyword used in the examples below.  

This incompatibility causes the `%sql` magic command to fail.  
A current workaround (which probably will not be necessary in the future) is to install the `jupysql` package (which also downgrades `sqlalchemy` to an older version (1.x.y)).

If you encounter problems with `%sql` try the following (and remember to restart your python kernel):

```python
!pip install jupysql
```

This is how you can check the versions of your packages:

In [22]:
pd.__version__ # Not guaranteed to be fully portable, but works for now.

'2.2.3'

In [23]:
sa.__version__ # Not guaranteed to be fully portable, but works for now.

'2.0.40'

The SQLite tutorial example database is provided as a `zip` archive in `chinook.zip` file. Download it from the [SQLite tutorial web site](https://www.sqlitetutorial.net/sqlite-sample-database/) (for example using the following Python command):

In [6]:
#urllib.request.urlretrieve("https://www.sqlitetutorial.net/wp-content/uploads/2018/03/chinook.zip", "chinook.zip")

*Checkpoint:* The current directory should contain now `chinook.zip` file. Next, unpack the `zip` archive (for example using Python the following Python command):

In [24]:
shutil.unpack_archive("chinook.zip")

*Checkpoint:* The current directory should contain now `chinook.db` file. This is the example database in SQLite format.

## Connect to the database and execute an SQL query

The following text:

```sql
SELECT * FROM albums LIMIT 5
```

is one of the simplest possible queries in SQL. It requests to provide all (`*`) columns and `5` rows from the database table `albums`. 

In a Python notebook there are several ways to connect to a database and execute the query. These methods differ in type of the object used to return the query result. Study the following examples.

### Using SQLAlchemy engine object

Open the connection to the SQLite database in the `chinook.db` file by creating the database `engine` object as follows:

In [25]:
engine = sa.create_engine("sqlite:///chinook.db")

Using the following code you may send an SQL query `sql` to the database through the `engine`.  
In the `arr` variable you will get the resulting table provided as a list of tuples.

In [26]:
sql = sa.text("SELECT * FROM albums LIMIT 5")
with engine.connect() as conn:
    arr = conn.execute(sql).fetchall()
arr

[(1, 'For Those About To Rock We Salute You', 1),
 (2, 'Balls to the Wall', 2),
 (3, 'Restless and Wild', 2),
 (4, 'Let There Be Rock', 1),
 (5, 'Big Ones', 3)]

In [27]:
sql = sa.text("SELECT * FROM albums LIMIT 5")
df = pd.read_sql(sql, con=engine)
df

   AlbumId                                  Title  ArtistId
0        1  For Those About To Rock We Salute You         1
1        2                      Balls to the Wall         2
2        3                      Restless and Wild         2
3        4                      Let There Be Rock         1
4        5                               Big Ones         3

### Using Python magic connector

When the Python script works with a single database only and extra Python language extensions are allowed the following notation might be used. The following code creates the database engine connector object in a hidden variable and allows for the magic `%sql` to be used in the code chunks.

In [17]:
%load_ext sql
%sql sqlite:///chinook.db

Connecting to 'sqlite:///chinook.db'

Using the magic sql connector this is a short way to execute a directly typed single line SQL query and print the result:

In [18]:
%sql SELECT * FROM albums LIMIT 5

Running query in 'sqlite:///chinook.db'

+---------+---------------------------------------+----------+
| AlbumId |                 Title                 | ArtistId |
+---------+---------------------------------------+----------+
|    1    | For Those About To Rock We Salute You |    1     |
|    2    |           Balls to the Wall           |    2     |
|    3    |           Restless and Wild           |    2     |
|    4    |           Let There Be Rock           |    1     |
|    5    |                Big Ones               |    3     |
+---------+---------------------------------------+----------+

The following code may be used to convert the result to Panda's `DataFrame`:

In [19]:
res = %sql SELECT * FROM albums LIMIT 5
df = res.DataFrame()
df

Running query in 'sqlite:///chinook.db'

ModuleNotFoundError: No module named 'pandas'

To print results of longer SQL commands which do not fit in a single line use double-percent notation `%%sql` as below:

In [28]:
%%sql
SELECT trackid, composer, unitprice FROM tracks LIMIT 5

Running query in 'sqlite:///chinook.db'

+---------+------------------------------------------------------------------------+-----------+
| TrackId |                                Composer                                | UnitPrice |
+---------+------------------------------------------------------------------------+-----------+
|    1    |               Angus Young, Malcolm Young, Brian Johnson                |    0.99   |
|    2    |                                  None                                  |    0.99   |
|    3    |          F. Baltes, S. Kaufman, U. Dirkscneider & W. Hoffman           |    0.99   |
|    4    | F. Baltes, R.A. Smith-Diesel, S. Kaufman, U. Dirkscneider & W. Hoffman |    0.99   |
|    5    |                       Deaffy & R.A. Smith-Diesel                       |    0.99   |
+---------+------------------------------------------------------------------------+-----------+