# Exercises: Series

### Ex 1

In [51]:
import pandas as pd
import numpy as np
rng = np.random.default_rng(12345)

In [ ]:
s = pd.Series(np.arange(5),index=list("abcde"))
s['d']             # 3 => int64
s.loc['d']         # 3 => int64
s.iloc['d']        # Error : label used as index location
s.loc['b':'d']     # 1, 2, 3 => Series of int64
s.iloc[2::2][::-1] # 4, 2 => Series of int64
s.loc[['b', 'a']]  # 1, 0 => Series of int64

In [8]:
s

a    0
b    1
c    2
d    3
e    4
dtype: int64

In [7]:
s.iloc[2::2][::-1]

e    4
c    2
dtype: int64

In [14]:
lst, idx = np.arange(5), list("abcde")
s = pd.Series(lst, idx)
s

a    0
b    1
c    2
d    3
e    4
dtype: int64

In [17]:
s[-1:] = 10

In [18]:
lst[0]

np.int64(0)

In [ ]:
s1 = pd.Series(s.copy())

a     0
b     1
c     2
d     3
e    10
dtype: int64

In [22]:
s1[0] = -1
s1

/var/folders/f4/t_cy1xv16699zj8q2mf2mcs00000gn/T/ipykernel_98476/66959009.py:1: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  s1[0] = -1

a    -1
b     1
c     2
d     3
e    10
dtype: int64

In [23]:
a = pd.Series([1,2,3,4,5], index=['a','b','c','d','e'])
b = pd.Series([1,2,3,4,5,6], index=['a','c','c','c','e','f'])

In [29]:
a, b,
ab = a*b

In [30]:
s1 = pd.Series({'a': 0, 'b': 1, 'c': 2, 'd': 3, 'e': 4})
s2 = pd.Series({'d': 0, 'e': 1, 'f': 2, 'g': 3})

In [40]:
s1, s2 
s1+s2
s1
s2

d    0
e    1
f    2
g    3
dtype: int64

In [43]:
s1['c':] * s2[:-2]

c    NaN
d    0.0
e    4.0
dtype: float64

# Exercise Dataframe

In [44]:
df1 = pd.DataFrame({'name': ['ants', 'bees','wasps'] , 'order':['Hymenoptera']*3})
df2 = pd.DataFrame({'name': ['beetles', 'weevils'] , 'order':['Coleoptera']*2})
df3 = pd.DataFrame({'name': ['butterflies', 'moths'], 'order':['Lepidoptera']*2 })

In [47]:
pd.concat([df1, df2], axis=1)

    name        order     name       order
0   ants  Hymenoptera  beetles  Coleoptera
1   bees  Hymenoptera  weevils  Coleoptera
2  wasps  Hymenoptera      NaN         NaN

In [48]:
pd.concat([df1, df3])

          name        order
0         ants  Hymenoptera
1         bees  Hymenoptera
2        wasps  Hymenoptera
0  butterflies  Lepidoptera
1        moths  Lepidoptera

In [49]:
pd.concat([df1, df2, df3], ignore_index=True)

          name        order
0         ants  Hymenoptera
1         bees  Hymenoptera
2        wasps  Hymenoptera
3      beetles   Coleoptera
4      weevils   Coleoptera
5  butterflies  Lepidoptera
6        moths  Lepidoptera

Give the de dataframe below:

retrieve:
- row 2 as a Series as wel as a dataFrame
- rows on even positions
- rows with even indices
- 3d column
- odd (index) rows and columns 'b' to 'd'

In [70]:
rng = np.random.default_rng(1234)
df = pd.DataFrame(np.array(rng.standard_normal(25)).reshape(5,5),
             index=[1, 0, 4, 3, 2], columns=list("abcde"))

In [74]:
df

          a         b         c         d         e
1 -1.603837  0.064100  0.740891  0.152619  0.863744
0  2.913099 -1.478823  0.945473 -1.666135  0.343745
4 -0.512444  1.323759 -0.860280  0.519493 -1.265144
3 -2.159139  0.434734  1.733289  0.520134 -1.002166
2  0.268346  0.767175  1.191272 -1.157411  0.696279

In [78]:
df.loc[df.index % 2 ==0]

          a         b         c         d         e
0  2.913099 -1.478823  0.945473 -1.666135  0.343745
4 -0.512444  1.323759 -0.860280  0.519493 -1.265144
2  0.268346  0.767175  1.191272 -1.157411  0.696279

In [88]:
df.loc[df.index % 2 != 0, ['b','d']]

          b         d
1  0.064100  0.152619
3  0.434734  0.520134

# Missing values exercise

In [121]:
df = pd.DataFrame(np.arange(25).reshape(5,5), dtype=float)

In [122]:
df

      0     1     2     3     4
0   0.0   1.0   2.0   3.0   4.0
1   5.0   6.0   7.0   8.0   9.0
2  10.0  11.0  12.0  13.0  14.0
3  15.0  16.0  17.0  18.0  19.0
4  20.0  21.0  22.0  23.0  24.0

In [127]:
df.loc[2, :] = np.nan
df.loc[:, 4] = np.nan
df.loc[0, 0] = np.nan
df.loc[0, 2] = np.nan
df.loc[4, 2] = np.nan
df

      0     1     2     3   4
0   NaN   1.0   NaN   3.0 NaN
1   5.0   6.0   7.0   8.0 NaN
2   NaN   NaN   NaN   NaN NaN
3  15.0  16.0  17.0  18.0 NaN
4  20.0  21.0   NaN  23.0 NaN

In [130]:
df.dropna(axis=0)

Empty DataFrame
Columns: [0, 1, 2, 3, 4]
Index: []

In [131]:
df.dropna(axis=1)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

In [132]:
df.dropna(axis=0, how='all')

      0     1     2     3   4
0   NaN   1.0   NaN   3.0 NaN
1   5.0   6.0   7.0   8.0 NaN
3  15.0  16.0  17.0  18.0 NaN
4  20.0  21.0   NaN  23.0 NaN

In [134]:
df.dropna(axis=1, how='all')

      0     1     2     3
0   NaN   1.0   NaN   3.0
1   5.0   6.0   7.0   8.0
2   NaN   NaN   NaN   NaN
3  15.0  16.0  17.0  18.0
4  20.0  21.0   NaN  23.0

In [142]:
df.fillna(0)
df.fillna(df.mean(axis=1))

      0     1     2     3          4
0   2.0   1.0   NaN   3.0  21.333333
1   5.0   6.0   7.0   8.0  21.333333
2   2.0   6.5   NaN  16.5  21.333333
3  15.0  16.0  17.0  18.0  21.333333
4  20.0  21.0   NaN  23.0  21.333333

In [143]:
df.fillna(df.median(axis=0))

      0     1     2     3   4
0  15.0   1.0  12.0   3.0 NaN
1   5.0   6.0   7.0   8.0 NaN
2  15.0  11.0  12.0  13.0 NaN
3  15.0  16.0  17.0  18.0 NaN
4  20.0  21.0  12.0  23.0 NaN

In [146]:
cbs = pd.read_csv("data/00372eng_UntypedDataSet_16032025_143103.csv",sep=";")
df = cbs[['Periods','TotalSupply_1']]
df

FileNotFoundError: [Errno 2] No such file or directory: 'data/00372eng_UntypedDataSet_16032025_143103.csv'