In [1]:
import pandas as pd
import numpy as np
from numpy.random import default_rng
rng = default_rng()

ModuleNotFoundError: No module named 'pandas'

## Series

Given the Series below:

In [ ]:
s = pd.Series(np.arange(5),index=list("abcde"))

without entering the statements:

- predict the values and the type of object returned for each statement:

In [ ]:
s['d']        # ...
s['b':'d']    # ...
s[2::2][::-1] # ...
s[['b', 'a']] # ...

- predict the contents of `s`, `s1` and `lst`:

In [ ]:
lst, idx = np.arange(5), list("abcde")
s = pd.Series(lst,idx)
s[-1:] = 10               # ...
lst[0] = 5                # ...
s1 = pd.Series(s.copy())  # ...
s1[0] = -1                # ...

- predict the result of the operations

In [ ]:
s1 = pd.Series({'a': 0, 'b': 1, 'c': 2, 'd': 3, 'e': 4})
s2 = pd.Series({'d': 0, 'e': 1, 'f': 2, 'g': 3})

s1 + s2           # ...
s1[3:] * s2[:-2]  # ...

## DataFrame

Given the DataFrame `df` below:

In [ ]:
rng = default_rng(1234)
df = pd.DataFrame(np.array(rng.standard_normal(25)).reshape(5,5),
             index=[1, 0, 4, 3, 2], columns=list("abcde"))

retrieve:
- 2nd row as a Series
- 3rd row as a DataFrame
- rows on even positions
- rows with even indices
- 3d column
- odd (index) rows and columns 'b' to 'd'

In [ ]:
# ...

### Merge DataFrames

Given `df1`, `df2` and `df3` apply the following:

- merge df1 and df2 side by side
- merge df1 and df3 stacked
- merge all and reset index

In [0]:
df1 = pd.DataFrame({'name': ['ants', 'bees','wasps'] , 'order':['Hymenoptera']*3})
df2 = pd.DataFrame({'name': ['beetles', 'weevils'] , 'order':['Coleoptera']*2})
df3 = pd.DataFrame({'name': ['butterflies', 'moths'], 'order':['Lepidoptera']*2 })

In [ ]:
# ...

### Missing values

Given the following DataFrame

In [486]:
df = pd.DataFrame(np.arange(25).reshape(5,5))

set the values to NaN as such to reproduce the following DataFrame:

In [485]:
# ...

      0     1     2     3   4
0   NaN   1.0   NaN   3.0 NaN
1   5.0   6.0   7.0   8.0 NaN
2   NaN   NaN   NaN   NaN NaN
3  15.0  16.0  17.0  18.0 NaN
4  20.0  21.0   NaN  23.0 NaN

Apply the following on the dataframe with missing values created in the previous step.

Drop missing:
- rows with missing values
- columns with missing values
- rows where all values are missing
- columns where all values are missing

Fill missing:
- with 0
- with mean based on column values
- with median based on row values

In [ ]:
# ...

### Natural gas consumption in the Netherlands

The dataset can be downloaded from [CBS Open data StatLine](https://opendata.cbs.nl/statline/portal.html?_la=en&_catalog=CBS). A version is already included in the data directory of this session's git repository. We will be using this dataset in the exercises to prepare for visualisation later on in the course.

We first read the data with `pd.read_csv`. Here we only select the columns `Periods` and `TotalSupply_1`:

In [ ]:
cbs = pd.read_csv("data/00372eng_UntypedDataSet_17032023_161051.csv",sep=";")
df0 = cbs[['Periods','TotalSupply_1']].copy()

The column `Periods`has the year (yyyy) followed by a tag {JJ,KW,MM} representing the yearly, quarterly and monthly terms respectively, and finally ending with two digits `00..12`. The two digit followed by the tags have different meaning per tag. For JJ it is always `00`, MM with `00..12` for 12 months and `KW`  with  `01..04` for four quarters. The column `TotaalAanbod_1` holds the natural gas consumption (MCM).

In order to get more control over the date ranges we will need to split the string based on the pattern `YYYY{MM,KW,JJ}{00,...,12}`. The Series class has a comprehensive set of submodules, one of which being `pandas.Series.str` with the method `split`. The `split` method takes a [regular expression](https://docs.python.org/3/library/re.html) describing the pattern and  splits the string based on the pattern. Regular expressions fall beyond the scope of this course, therefore the solution is given here for the exercise.

In [487]:
df = df0.Periods.str.split(r'(JJ|MM|KW)', regex=True, expand=True)  # expand=True forces the result into
                                                                        # a DataFrame
df = pd.DataFrame({'year': df[0].astype(int),                 # Create DataFrame {year,term,idx}
                        'term': df[1],
                        'idx': df[2].astype(int)})

df = pd.concat([df,cbs[['TotalSupply_1']]],axis=1)
df

     year term  idx  TotalSupply_1
0    1946   JJ    0              0
1    1947   JJ    0              1
2    1948   JJ    0              5
3    1949   JJ    0              7
4    1950   JJ    0              5
..    ...  ...  ...            ...
730  2022   MM   12           3812
731  2022   KW    4           8521
732  2022   JJ    0          31227
733  2023   MM    1           3386
734  2023   MM    2           3057

[735 rows x 4 columns]

1) Write a function given a Series with {year,term,idx} returns a timestamp according to the following specification:

```
JJ : yyyyJJ00 => 31-12-yyyy
KW : yyyyKWmm => where mm in {1,2,3,4}
                 01: 1-1-yyyy to 31-3-yyyy
                 02: 1-4-yyyy to 30-6-yyyy
                 03: 1-7-yyyy to 30-9-yyyy
                 04: 1-10-yyyy to 31-12-yyyy
MM : yyyyMMmm => dd-mm-yyyy where dd is the last day of the month and
                 mm in {1,..,12}
```

2) Create a new DataFrame called `ngc` (natural gas consumption) with three columns {term, date, consumption} :
- term : {JJ,KW,MM}
- date : timestamps as specified in the previous exercise
- consumption: which is `TotalSupply_1` only renamed

In [ ]:
# ...

Validate entries in the ngc DataFrame from the previous step:
- whether sum of 3 months consumptions are equal to the corresponding quarterly entries(KW)
- whether sum of 4 quarters addup to the yearly (JJ) entries

In [ ]:
# ...