# SQL modification statements (exercises)

## Preparation

For this section you need `chinook.db` database file and working `%sql` magic.  
If you don't have it, please go back to the [previous section](../09_sql/connect_to_database.ipynb) and follow the instructions.  
The following code should not produce any errors:

In [1]:
%load_ext sql
%sql sqlite:///chinook.db

Connecting to 'sqlite:///chinook.db'

## Exercise: updating rows

An employee `Park Margaret` has moved to a new address: 
- `City`: `Toronto`,
- `State`: `NO`,
- `Postcode`: `M5P 2N7`. 

Update the `employee` table accordingly.  
To verify that the change indeed is made, show the content before and after the change.

## Exercise: adding rows

In a single SQL command insert three new random persons into the `artists` table.  
To verify that the change indeed is made, show the content before and after the change.

## Exercise: removing rows

Let's delete `artists` whose names contain the word `Santana`.  
To verify that the change indeed is made, show the content before and after the change.