# SQL querying and selecting data (exercises)

## Preparation

For this section you need `chinook.db` database file and working `%sql` magic.  
If you don't have it, please go back to the [previous section](connect_to_database.ipynb) and follow the instructions.  
The following code should not produce any errors:

In [ ]:
%load_ext sql
%sql sqlite:///chinook.db

## Exercise: biggest tracks

### Question

Print (select) the top 10 biggest `tracks` according to size in `Bytes` column.

### Solution

In [ ]:
%%sql
SELECT TrackId, Name, Bytes
  FROM tracks
  ORDER BY bytes DESC
  LIMIT 10

## Exercise: simple filtering

### Question

Write statements to get `tracks` with: the `AlbumId` equal to `1` and the `Bytes` length greater than 200,000 milliseconds.

### Solution

In [ ]:
%%sql
SELECT Name, Milliseconds, Bytes, AlbumId
  FROM tracks
  WHERE AlbumId = 1 AND Milliseconds > 250000

## Exercise: filter with `IN`

### Question

Return `customers` from `State` of `FL` (Florida), `WA` (Washington), `CA` (California).  
Use `IN`, not `AND`.

### Solution

In [ ]:
%%sql
SELECT *
  FROM customers
  WHERE State IN ('FL', 'WA', 'CA')

## Exercise: filter for numbers in range

### Question

Find `invoices` whose `Total` is between 14.96 and 18.86. Use `BETWEEN`.  
Sort the output with increasing `Total`. Show only these columns: `InvoiceId`, `BillingAddress`, `Total`.

### Solution

In [ ]:
%%sql
SELECT InvoiceId, BillingAddress, Total
  FROM invoices
  WHERE Total BETWEEN 14.91 AND 18.86    
  ORDER BY Total

## Exercise: filter partially matching words

### Question

Find the `tracks` whose `Name`s contain a substring: `Br` (two letters), one letter, `wn` (two letters).

### Solution

In [ ]:
%%sql
SELECT TrackId, Name
  FROM tracks
  WHERE Name LIKE '%Br_wn%'

## Exercise: filtering missing values

### Question

Find the `customers` who do not have phone numbers. In the result show only the name and the (missing) phone number.

### Solution

In [ ]:
%%sql
SELECT FirstName, LastName, Phone
  FROM customers
  WHERE Phone IS NULL

## Exercise: from the database to a Python list

### Question

Create a Python variable `bs` to be a list containing all `tracks` sizes as provided in the `Bytes` column.  
Print the `type` of the `bs` variable. Print the first 10 elements of `bs`.

### Solution

In [ ]:
result = %sql SELECT Bytes FROM tracks
bs = [row[0] for row in result]
print(type(bs))
print(bs[1:10])

## Exercise: from the database to a Pandas data frame

### Question

Create a Python variable `df` to be a Pandas `DataFrame` with two columns corresponding to `Milliseconds` and `Bytes` columns of the `tracks` table. Print `df`.  
You will likely need to:
- Import `pandas` package.
- Use `read_sql` function from `pandas`.
- Create a separate connection `engine` with `creeate_engine`.

### Solution

In [ ]:
import pandas as pd
import sqlalchemy as sa

engine = sa.create_engine("sqlite:///chinook.db")
sql = sa.text("SELECT Milliseconds, Bytes FROM tracks")
df = pd.read_sql(sql, engine)
df